[project]
	description = fake repo for testing git-interacting tools
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Queria Sa-Tas (queria)
[access "refs/for/refs/*"]
	read = group user/Queria Sa-Tas (queria)
	push = group user/Queria Sa-Tas (queria)
	label-Code-Review = -2..+2 group user/Queria Sa-Tas (queria)
	label-Verified = -1..+1 group user/Queria Sa-Tas (queria)
	rebase = group user/Queria Sa-Tas (queria)
	removeReviewer = group user/Queria Sa-Tas (queria)
	submit = group user/Queria Sa-Tas (queria)
[access "refs/heads/*"]
	read = group user/Queria Sa-Tas (queria)
	create = group user/Queria Sa-Tas (queria)
	push = +force group user/Queria Sa-Tas (queria)
	pushMerge = group user/Queria Sa-Tas (queria)
[access "refs/tags/*"]
	push = +force group user/Queria Sa-Tas (queria)
	pushTag = group user/Queria Sa-Tas (queria)
	pushSignedTag = group user/Queria Sa-Tas (queria)
